@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #464648;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: #0ea5e9;
    --secondary: #ffffff;
    --tertiary: #aaaaaa;
    --quarteriary: #6c6c6c;

    --bg-primary: #151515;
    --bg-secondary: #202020;
    --bg-tertiary: #383838;
    --bg-quarteriary: #0275ae;
  }
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded transition-all;

  &:disabled {
    @apply bg-gray-600 cursor-not-allowed;
  }
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-700 text-white py-2 px-4 transition-all;
}
